
.search input[type=text] {
    width: 30%;
    padding: 6px;
    margin-top: 3px;
    margin-left: 15px;
    font-size: 17px;
    border: thick;

}
.search button {
    float: right;
    padding: 10px 10px;
    margin-top: 3px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
     .search button:hover {
        background: #ccc;
    }

.header{
    width: auto;
}
.login {
    padding: 2px;
    color: white;
}
.register{
    margin-left: 8px;
    color: red;
}
.right{
    margin-left: 5%;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background-color: #FFF;
}
    ol > li > ul > li {
      background-color:#EEE;
    }
    ol > li > ul > li:hover {
      background-color:#808080;
    }
    ol > li > ul {
      list-style-type:none;
      padding:0;
      margin:0;
    }
    ol a {
        display: block;
        color: #000;
        text-decoration: none;
        padding: 0 5px;
    }
    ol > li > ul > li:hover a {
      color:#09C;
    }
    ol > li {
        float: left;
        background-color: #FDD700;
        width: 150px;
    }
    ol > li > a:hover {
        color: #09C;
    }

    ol > li > ul > li > a {
            border-top: 1px solid #FFF;
    }

    ol > li > ul {
        display: none;
    }

    ol > li:hover > ul {
        display: block;
    }

    ol > li:hover {
        background-color: red;
    }

.logo{
    margin-top: 3px;
    font-size:x-large;
}

