@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
<AuthorizeView>
   
    <Authorized>
        
        @*<div class="logo" @onclick="GoToMainPage">Logo</div>*@
        <MudDivider Class="logo"></MudDivider><MudButton Variant="Variant.Text" @onclick="GoToMainPage" Style="color: white; font-size:28px;" >Logo</MudButton>
        <div class="search">
            <form>
                <input type="text" placeholder="Znajdz przewodnika/wycieczke" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
     
        <MudButton Variant="Variant.Text" @onclick="BeginSignOut" Style="color: white;" >Wyloguj</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Style="color: white;"><a class="link" style="color:white; font-weight: bold" href="/users/GetUserInformation">Pokaż profil</a></MudButton>

      
    </Authorized>
    
    <NotAuthorized>
        
        <div class="logo">Logo</div>
        <div class="search">
            <form>
                <input type="text" placeholder="Znajdz przewodnika/wycieczke" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div>   
        <a href="authentication/login" class="login">Zaloguj</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    bool _isExpanded = true;

    private UserInformationVm user;

    public string TextValue { get; set; }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void GoToMainPage()
    {
        Navigation.NavigateTo("/");
    }

}
