
@media only screen and (max-width: 550px) {
    .leftSection {
        width: 100%;
        float: left;
        background-color: lightgrey;
        padding: 2%;
        display: block;
    }

        .leftSection h4 {
            color: dimgrey;
        }
        .leftSection img {
           position:center;
            width: 100%;
            height: auto;
        }

    .userDetails h6, .userDetails i {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }

    .rightSection {
    }

        .rightSection h5 {
            color: darkgrey;
        }
        .rightSection img {
            display: block;
            width: 100%;
            height: auto;
        }

    .tripInfo h4 {
        /*color: darkgrey;*/
        color: dimgrey;
    }

    .tripInfo p {
        color: black;
        font-size: 18px;
        line-height: 0.7;
    }

    .tripDetails p, .tripDetails i {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }

    .rating {
        background-color: lightgrey;
        padding: 10px;
    }
}

@media only screen and (min-width: 551px) {
    .leftSection {
        width: 38%;
        float: left;
        background-color: lightgrey;
        padding: 2%;
        display: block;
    }

        .leftSection h4 {
            color: dimgrey;
        }

        .leftSection img {
            position: center;
            width: 100%;
            height: auto;
        }

    .userDetails h6, .userDetails i {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }

    .rightSection {
        float: right;
        width: 58%;
    }

        .rightSection h5 {
            color: darkgrey;
        }

        .rightSection img {
            display: block;
            width: 100%;
            height: auto;
        }

    .tripInfo h4 {
        /*color: darkgrey;*/
        color: dimgrey;
    }

    .tripInfo p {
        color: black;
        font-size: 18px;
        line-height: 0.7;
    }

    .tripDetails p, .tripDetails i {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }

    .rating {
        background-color: lightgrey;
        padding: 10px;
    }
}