@page "/users/GetUserTours"
@using System.Text.Json
@using System.Text
@using System.Net.Http.Headers

@inject NavigationManager NavigationManager

@inject HttpClient Http

<div class="page">
    <AuthorizeView>
        <Authorized Context="Auth">
         @if (user == null)
            {
                <p>Wczytywanie...</p>
            }
            else
            {
                <div class="panel-full">
                    @foreach (var item in user.UserTours)
                    {

                                    <div @onclick="() => GoToDetails(item.Id)">     
                            @if (item.MainPhoto != "")
                            {
                                <div class="background">
                                    <img src="@item.MainPhoto" />
                                    <div class="name">@item.TourName</div>
                                </div>
                            }
                                    </div>
                    }
                        </div>
            }
        </Authorized>
        <NotAuthorized>
            <p>Nie można wyświetlić strony niezalogowanym użytkownikom</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private UserInformationVm user;


    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<UserInformationVm>($"api/users/GetAllInformation");
    }

    public void GoToDetails(int id)
    {
        NavigationManager.NavigateTo($"/tours/{id}");
    }
}
