body {
   
}
.bchange {
    color: #0040A1;
    float: right;
    padding-right: 1%;
}

    .bchange:hover {
        color: #FFE4AD;
    }

.avatar-img {
    border: 0px solid black;
    border-radius: 10%;
    padding: 1em;
    display: block;
    width: 280px;
    height: 280px;
    vertical-align: middle;
    margin: 0 auto
}

.info {
    float: right;
}

h6 {
    margin-top: 7px;
    color: white;
    font-weight: 100;
}

h3 {
    color: white;
    font-weight: 100;
}

.left h3 {
    color: dimgrey;
    font-weight:;
}

.left h6 {
    color: dimgrey;
    font-weight: 600;
}

.changeAvatar {
    border-radius: 8px;
    padding: 10px;
    /*background-color: #EDA71A;*/
}

.chooseFile {
    position: center;
}

.panel-full {
    display: block flex;
    flex-wrap: wrap;
}

.background {
    position: relative;
    text-align: center;
    color: white;
    width: 33%;
    opacity: 0.75;
}

    .background:hover {
        opacity: 1;
    }

.centered {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    min-width: 180px;
    height: 40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-family: cursive;
    background: #594ae2ff;
}
@media only screen and (max-width: 740px) {

    .border {
        font-family: Arial;
        margin-top: 10px;
        border-style: solid;
        border-width: medium;
        border-radius: 8px;
        text-align: left;
        width: 95%;
        height: 446px;
        background-color: lightgrey;
        float: left;
    }

    .left {
        margin-top: 0px;
        text-align: center;
        border-radius: 8px;
        width: 100%;
        float: left;
        margin-top: 20px;
        padding: 10px;
        height: auto;
    }

    .right {
        position: center;
        margin-top: 14px;
        margin-right: 18px;
        border-radius: 8px;
        width: 100%;
        height: auto;
        float: left;
        padding: 15px;
        background-color: #EDA71A;
    }
}

@media only screen and (min-width: 741px) {

    .border {
        font-family: Arial;
        margin-top: 10px;
        border-style: solid;
        border-width: medium;
        border-radius: 8px;
        text-align: left;
        width: 98%;
        height: 446px;
        background-color: lightgrey;
        float: left;
    }

    .left {
        margin-top: 0px;
        text-align: center;
        border-radius: 8px;
        width: 45%;
        float: left;
        margin-top: 20px;
        padding: 10px;
        height: auto;
    }

    .right {
        position: center;
        margin-top: 20px;
        margin-right: 18px;
        border-radius: 8px;
        width: 50%;
        height: auto;
        float: right;
        padding: 15px;
        background-color: #EDA71A;
    }
}
