@using IdentityServer.Quickstart.Account
@model RegisterViewModel

<div class="register-page">
    <div class="lead">
        <h2 class="logo">EasyTravel</h2>
    </div>

    <partial name="_ValidationSummary" />

    <div class="login-window">
        <div>
            <div class="card">
                <div class="card-body">
                    <h3>Załóż konto</h3>
                    <form asp-route="Register">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="login-form">                          
                            <input class="form-control" placeholder="Email *" asp-for="Email" autofocus>
                            <span asp-vavidation-for="Email"></span>
                        </div>

                        <div class="login-form">                          
                            <input class="form-control" placeholder="Login *" asp-for="Username" autofocus>
                            <span asp-vavidation-for="Username"></span>
                        </div>

                        <div class="login-form">                        
                            <input type="password" class="form-control" placeholder="Hasło *" asp-for="Password" autocomplete="off">
                            <span asp-vavidation-for="Password"></span>
                        </div>

                        <div class="login-form">                           
                            <input type="password" class="form-control" placeholder="Potwierdź hasło *" asp-for="ConfirmPassword" autocomplete="off">
                            <span asp-vavidation-for="ConfirmPassword"></span>
                        </div>

                        <div class="bottom-bar">
                        <button class="btn btn-primary" name="button" value="register">Załóż konto</button>
                        <a class="btn btn-info text-white" asp-controller="Account" asp-action="Login"
                           asp-route-returnUrl="@Model.ReturnUrl">Powrót do logowania</a>
                        </div>
                    </form>             
                </div>
            </div>
        </div>
    </div>
</div>
