@using IdentityServer.Quickstart.Account
@model RegisterViewModel

<div class="register-page">
    <div class="lead">
        <center><h2 style="color: white;padding: 5px;">EasyTravel</h2></center>
    </div>

    <partial name="_ValidationSummary" />

    <div style="margin:auto;width:50%;box-shadow: 5px 10px #C5CAE9">
        <div style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <h3>Załóż konto</h3>
                    <form asp-route="Register">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group" style="max-width: 340px;padding: 5px;">
                            
                            <input class="form-control" placeholder="Email *" asp-for="Email" autofocus>
                            <span asp-vavidation-for="Email"></span>
                        </div>

                        <div class="form-group" style="max-width: 340px;padding: 5px;">
                           
                            <input class="form-control" placeholder="Login *" asp-for="Username" autofocus>
                            <span asp-vavidation-for="Username"></span>
                        </div>
                        <div class="form-group" style="max-width: 340px;padding: 5px;">
                          
                            <input type="password" class="form-control" placeholder="Hasło *" asp-for="Password" autocomplete="off">
                            <span asp-vavidation-for="Password"></span>
                        </div>
                        <div class="form-group" style="max-width: 340px;padding: 5px;">
                           
                            <input type="password" class="form-control" placeholder="Potwierdź hasło *" asp-for="ConfirmPassword" autocomplete="off">
                            <span asp-vavidation-for="ConfirmPassword"></span>
                        </div>
                        <button class="btn btn-primary" name="button" value="register">Załóż konto</button>
                        <a class="btn btn-info text-white" asp-controller="Account" asp-action="Login"
                           asp-route-returnUrl="@Model.ReturnUrl">Powrót do logowania</a>
                    </form>
                   
                   
                </div>
            </div>
        </div>
    </div>
</div>
